<html> 
<head>
    <title>Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/lstyle.css" type="text/css" rel = "stylesheet">
<style>
</style>
</head>
<body>
    <FONT FACE="Arial">
            <div class="hb">
              <div class="logo">
                  <a href="/"> <img src="/views/CASTb.png"></a>
				   <span><a href="/index2">Competition</a></span>
                 </div>
                 
                 <form class="example" action="/checkid" method="get" >
                  <center><h2 style="color:black;font-size: 15px;">Search</h2></center>
                  <input type="text"  name="name" id="name" autofocus >
                 <button type="submit" value="submit" ><i class="fa fa-search"></i></button>
              </form> 
              </div>
<section>
<nav>

  <a href="/checkmark">Clear All</a>
      <div class="dropdown">
          <button class="dropbtn">Language  
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <%for(i=0;i<lang.length;i++){%>
            <a href="/checkid?name=<%=lang[i].language%>"><%=lang[i].language%></a>
          <%}%>
          </div>
        </div>
</nav>
<article>
<div style="overflow-x:auto;">
<center><b>Checkmark</b></center>
Count:<%=data.length%><br>
<%if(x!==null){%>
Showing result for: <%=x%> 
<%}%>
<table>
    <tr>
        <th>Language</th>
        <th>Package Name</th>
        <th>Query Name</th>
        <th>CWE</th>
    </tr>
    <% for(i=0;i<data.length;i++){ %>
            <tr>
        
             <td ><%= data[i].language%></a></td>
             <td width="60%"><%= data[i].packagename%></td>
             <td><%= data[i].queryname%></td>
                <td><%=data[i].cweid%></td>
            </tr>
        <% } %>
</table>
  
</div>
</article>
</section>
    </FONT>
</body>
</html>