<head>
    <title>Result</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/css/sview.css" type="text/css" rel = "stylesheet">

</head>
<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
    
      <!-- The Grid -->
      <div class="w3-row-padding">
    
        <!-- Left Column -->
        <div class="w3-third">
    
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
              <div class="logo">
               <a href="/"> <img src="/views/CASTb.png"></a>
			        <span><a href="/index1">Standards</a>
                <a href="/pci?id=ALL">PCI</a></span></div>

              </div>
    
            </div>
    
            </div>
    
          </div><br>
    
        <!-- End Left Column -->
        </div>
    
<div class="w3-twothird">

    <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
      <div class="viewhead">
      <h2 class="w3-text-grey w3-padding-16">PCI</h2>
     
    <!--<h5 class="w3-text-teal w3-padding-16"><a href="/pcireview?id=<%=p[0].cid%>"><span class="w3-tag w3-teal w3-round">REVIEW</span></a></h5>
    --></div>
    <div class="w3-container"><hr>
        <h5 class="w3-opacity"><b>PCI Control</b></h5>
        <p><%=p[0].control %></p><br>
      </div>
      <div class="w3-container">
        <div id="ele1">
        <h5 class="w3-opacity"><b>RID</b></h5>
        <h6 class="w3-text-teal"><span class="w3-tag w3-teal w3-round"><%= p[0].rid%></span></h6>
      </div><div id="ele2">
        <h5 class="w3-opacity"><b>PRI_6</b></h5>
        <p><%= p[0].pri_6%></p>
      </div><div id="ele3">
      <h5 class="w3-opacity"><b>PRI_3</b></h5>
      <p><%= p[0].pri_3%></p>
      </div>
      <div id="ele4">
        <h5 class="w3-opacity"><b>CAST Support</b></h5>
        <p><%= p[0].castapplicable%></p>
        </div>     
    </div>
   <div class="w3-container">
     <h5 class="w3-opacity"><b>Domain</b></h5>
     <p><%= p[0].domain%></p>
     <hr>
   </div>
   <div class="w3-container">
    <h5 class="w3-opacity"><b>Requirement</b></h5>
    <p><%= p[0].requirement%></p>
    <hr>
  </div>
 
 </div>
  <!-- End Right Column -->
  </div>

<!-- End Grid -->


<!-- End Page Container -->

<footer class="w3-container w3-teal w3-center w3-margin-top">

</footer>

</body>
