<!DOCTYPE html>
<html>
<head>
<title>STIG List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/css/lstyle.css" type="text/css" rel = "stylesheet">
 
</head>
<body>
<FONT FACE="Arial">
  <div class="hb">
    <div class="logo">
        <a href="/"> <img src="/views/CASTb.png"></a>
		 <span><a href="/index1">Standards</a></span>
       </div>
       <form class="example" action="/stigs" method="get" >
        <center><h2 style="color:black;font-size: 15px;">Search STIG</h2></center>
        <input type="text"  name="id" id="id" autofocus  placeholder="V-XXXXX">
       <button type="submit" value="submit" ><i class="fa fa-search"></i></button>
    </form> 
    </div>     

<section>
    <nav>
        
    </nav>


<article>
<div style="overflow-x:auto;">

<center><b>STIG</b></center>
Count:<%=stig.length%>
  <table >
    <tr>
      <th>ID</th>
      <th>Severity</th>
      <th>Title</th>

    </tr>
    <% for(i=0;i<stig.length;i++){ %>
    <tr>

     <td style="width:75px;"><a href="/stigid?id=<%=stig[i].vuln_id%>"><%= stig[i].vuln_id%></a></td>
     <td><%= stig[i].severity%></td>
     <td><%= stig[i].title%></td>

    </tr>
<% } %>
  </table>
</div>
</article>
</section>
</FONT>
</body>
</html>
